[submodule "zorin-desktop-themes"]
	path = zorin-desktop-themes
	url = https://github.com/ZorinOS/zorin-desktop-themes
[submodule "oomoxify"]
	path = oomoxify
	url = https://github.com/abstracted/oomoxify.git
[submodule "papirus-icon-theme"]
	path = papirus-icon-theme
	url = https://github.com/PapirusDevelopmentTeam/papirus-icon-theme.git
[submodule "Nordic"]
	path = Nordic
	url = https://github.com/EliverLara/Nordic.git
[submodule "spicetify-themes"]
	path = spicetify-themes
	url = https://github.com/abstracted/spicetify-themes
